body {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4c4c4c;
    color: whitesmoke;

    h1 {
        color: whitesmoke;
        margin-left: 1rem;
        font-size: 2rem;
    }

    nav {
        margin-right: 2rem;
        font-size: 1rem;
        a {
            color: whitesmoke;
            text-decoration: none;
            margin: 1rem;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}