{{> header }}
<h1>About</h1>
<p>A website that les you know the current weather for your location (if enabled) or for the city you want.</p>
<p>This site is build using Handlebars, SCSS, Javascript, and Node.js.</p>
<h2>Please note</h2>
<p>If you happen to use the app, from time to time you will see a gif of a man "not knowing something".</p>
<p>At the time of the app release, there are still several weather descriptions I do not know. This gif is used as a wildcard. :-)</p>
{{> footer }}