{{> header }}
<div id="response-box">
    <h1 id="location"></h1>
    <img id="weather-image" />
    <p id="message"></p>
</div>
<form id="city-searcher" action="/weather-from-city" method="GET">
    <input id="city" type="text" name="city" placeholder="i.e. Barcelona" />
    <input id="submit" type="submit" value="Show me the weather!" />
</form>
{{> footer }}
