footer {
  text-align: center;
  background: #222;
  color: whitesmoke;
  height: 5vh; }
  footer p {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    height: 100%; }
  footer a {
    text-decoration: none;
    color: lightcoral; }
  footer a:hover {
    text-decoration: underline; }
